<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add New Team</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class="return-link">
            <a href="javascript:history.back()">Return</a>
        </div>

        <h1>Add a Team to {{ league.league_name }}</h1>
        <form action="/add_new_team/{{ league.league_id }}" method="POST">
            <label for="team_name">Team Name:</label>
            <input id="team_name" name="team_name" type="text" placeholder="Enter the Team Name" required><br>
            
            <label for="team_city">Team City:</label>
            <input id="team_city" name="team_city" type="text" placeholder="Enter the Team City" required><br>
            
            <button type="submit">Submit</button>
        </form>
    </body>
</html>