<!DOCTYPE html> 
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add New League</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1 class="orange_header">Add New League</h1>
        <a href="javascript:history.back()" class="return-link">Return</a>
        <form action="/add_new_league" method="POST">
            <input name="league_name" type="text" placeholder="Enter the League Name" required>
            <input name="league_sport" type="text" placeholder="Enter the League Sport" required>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>