<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Basketball Leagues</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class="return-link">
            <a href="javascript:history.back()">Return</a>
        </div>

        <h1>Available Leagues</h1>
        <table>
            <tr>
                <th>League Name</th>
            </tr>
            {% for league in leagues %}
            <tr>
                <td>
                    <a href="/league_teams/{{ league.league_id }}">{{ league.league_name }}</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <div class="add-league">
            <a href="/add_new_league">Add a new league?</a>
        </div>
    </body>
</html>