<!DOCTYPE html>
<html lang="en">
<head>
    <title>Football Leagues</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <a href="javascript:history.back()" class="return">Return</a>
    <h1>Available Leagues</h1>

    <table>
        <tr>
            <th>League Name</th>
        </tr>
        {% for league in leagues %}
        <tr>
            <td>
                <a href="/league_teams/{{ league.league_id }}">{{ league.league_name }}</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <a href="/add_new_league" class="add-league">Add a new league?</a>
</body>
</html>