<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Stats Viewer</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>

    <body>
        <h1>Welcome to the Stats Viewer! Please Select a Sport to view: </h1>
        <div>
            <a href="/basketball_view" class="button">Basketball</a>
        </div>
        <div>
            <a href="/baseball_view" class="button">Baseball</a>
        </div>
        <div>
            <a href="/football_view" class="button">Football</a>
        </div>
        <div>
            <a href="/search" class="button">Search</a>
        </div>
    </body>
</html>