<!DOCTYPE html>
<html lang="en">
<head>
    <title>Teams in {{ league.league_name }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Teams in {{ league.league_name }}</h1>

    {% if teams %}
        <table>
            <thead>
                <tr>
                    <th>Team Name</th>
                    <th>City</th>
                </tr>
            </thead>
            <tbody>
                {% for team in teams %}
                    <tr>
                        <td><a href="/team_view/{{ team.team_id }}" class="button">{{ team.team_name }}</a></td>
                        <td>{{ team.city }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No teams found for this league.</p>
    {% endif %}

    <div>
        <a href="/add_new_team/{{ league.league_id }}" class="button">Add a new team?</a>
        <a href="{{ url_for('index') }}" class="button">Return to Home</a>
    </div>
</body>
</html>