body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #ffffff;
    text-align: center;
    padding-top: 20px;
}

h3 {
    color: #ffffff;
    margin-top: 10px;
}

form {
    text-align: center;
    width: 80%;
    max-width: 500px;
    margin: 20px auto;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
}


label {
    color: #ffffff;
    font-size: 1.1rem;
    display: block;
    margin-bottom: 8px;
}
input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #444;
    border-radius: 5px;
    font-size: 1rem;
}

input[type="text"] {
    padding: 10px;
    width: 60%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
}

input[type="number"] {
    width: 50%;
    -moz-appearance: textfield;

}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #444;
    border-radius: 5px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #555;
}

button {
    background-color: #ffffff;
    color: #121212;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s;
    width: 100%;
}

button:hover {
    background-color: #ffffff;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #555;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #555;
}

.delete-btn {
    color: red;
    text-align: center;
    display: block;
}

.delete-btn:hover {
    text-decoration: underline;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #1f1f1f;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #444;
}

th {
    background-color: #333;
    color: #ffffff;
}

td a {
    color: #ffffff;
    background-color: #444;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s;
}

td a:hover {
    color: #ffffff;
    text-decoration: underline;

}

tr:hover {
    background-color: #444;
}

tr:nth-child(even) {
    background-color: #222;
}
tr:nth-child(odd) {
    background-color: #333;
}

.return {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    margin: 20px;
    display: block;
    text-align: center;
}

.return:hover {
    text-decoration: underline;
}

.return-link {
    margin-top: 20px;
    text-align: center;
}

.return-link a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 10px;
    background-color: #333;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 20px;
    display: block;
    text-align: center;
}

.return-link a:hover {
    background-color: #ffffff;
    color: #121212;
}

.add-league {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 1.1rem;
}

.add-league a {
    color: #ffffff;
    text-decoration: none;
}

.add-league a:hover {
    color: #ffffff;
}

a.add-league {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 1rem;
    color: #ffffff;
    text-decoration: none;
}

a.add-league:hover {
    color: #ffffff;
}


a {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #555;
}

div {
    text-align: center;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
}